<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a class="brandMastHead" routerLink="/">Einkaufr</a></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
      <div class="cover-container">
        <div class="container">
          <p class="lead">Where would you like to contribute?</p>
          <div class="row">
            <input placeholder="PLZ/Address/City">
            <!--<div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entfernung
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">5km</a>
                <a class="dropdown-item" href="#">10km</a>
                <a class="dropdown-item" href="#">20km</a>
                <a class="dropdown-item" href="#">30km</a>
                <a class="dropdown-item" href="#">40km</a>
                <a class="dropdown-item" href="#">50km</a>
                <a class="dropdown-item" href="#">>50km</a>
              </div>
            </div>-->
            <input placeholder="Max. distance">
            <div>
              <button type="button" id="searchBtn" class="btn btn-sm" routerLink="/helper/overview">>
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer class="mastfoot">
        <div class="inner">
          <p>Powered by
            <a href="https://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </footer>

    </div>

  </div>

</div>
