<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a class="brandMastHead" routerLink="/">Einkaufr</a></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
      <div class="cover-container">
        <div class="container">
          <h4>{{selectedOffer?.title}}</h4>
          <p>{{selectedOffer?.shoppingCart}}</p>
          <br>
          Karte mit Zielort
          <br>
          <br>
          <app-chat-area
            [chatTexts]="selectedOffer.chatTexts">
          </app-chat-area>
          <br>
          <button (click)=offerSolved() type="button" id="searchBtn" class="btn btn-sm">Helfen erledigt
            <span class="glyphicon glyphicon-search"></span></button>

        </div>
      </div>
      <footer class="mastfoot">
        <div class="inner">
          <p>Powered by
            <a href="https://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </footer>

    </div>

  </div>

</div>
