<h2>Wohin soll geliefert werden?</h2>

<input type="text" (keyup)="onSearchKeyUp($event)"/>

<div *ngIf="searchResults">
  <p *ngIf="searchResults.length === 0">Keine Ergebnisse gefunden.</p>
  <ng-container *ngIf="searchResults.length !== 0">
    <p>{{searchResults.length}} Ergebnisse:</p>
    <ul>
      <li *ngFor="let r of searchResults">
        {{r.address.freeformAddress}}
        <button (click)="onResultSelected(r.id)">Auswählen und weiter ></button>
      </li>
    </ul>
  </ng-container>
</div>
