<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a class="brandMastHead" routerLink="/">Einkaufr</a></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">You are all Done! Help is on the way!</h1>
      </main>
      <div class="cover-container">
        <p class="lead">We check the neighbourhood for the people who can help you, with the grocery shopping.</p>
        <p class="lead">Please stay on this page. You will be noticed shortly.</p>
      </div>
      <footer class="mastfoot">
        <div class="inner">
          <p>Powered by
            <a href="https://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </footer>

    </div>

  </div>

</div>
