<p>Angebote in deiner Nähe</p>
<div>
      <table>
        <thead>
        <td>Status</td>
        <td>Beschreibung</td>
        <td>Ort</td>
        <td>Einkaufsliste</td>
        </thead>
        <tr *ngFor="let item of items">
          <td>{{item.offerStatus}}</td>
          <td></td>
          <td>{{item.userCoordinate.latitude}}</td>
          <td>{{returnShoppingCart(item.shoppingCart)}}</td>
        </tr>
      </table>

      <!--<button (click)="removeItem(item)">Entfernen</button>
      <button (click)="moreInfos(item)">Weitere Infos</button>-->

  <!--<form [formGroup]="addItemForm" (ngSubmit)="addItem()">
    <input
      formControlName="newBeschreibung"
      placeholder="Titel einfügen"
      id="beschreibung"
      type="text"/>
    <input
      formControlName="newDetails"
      placeholder="Detaillierte Beschreibung einfügen"
      type="text"/>
    <button type="submit">Hinzufügen</button>
  </form>-->
</div>
